.header-items, .header-items > div:first-of-type, .shop-menu, .menu-bars, .header-items > ul:first-of-type{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}

header{
    border-bottom: 1px solid white;
    position: sticky;
    top:0;
    z-index: 10;
}

header > div:first-of-type{
    border-bottom: 2px solid white;
    padding: 0.3rem 0rem;
}

.header-items{
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    max-width: 1100px;
    margin: auto;
}
@media (max-width: 589px){
    .header-items{
        grid-template-columns: repeat(2, max-content);
        padding: 0.5rem 1.5rem;
    }
    .header-items ul:last-of-type{
        display: none;
    }
}
.shop-menu{
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap:0.5rem;
}
.header-items img{
    width: 120px;
    position: relative;
    top:0px;
    cursor: pointer;
}

.header-logo:hover{
    animation: verticalShake .5s ease-in-out;
    /* animation: rotateRight 1s linear; */
}
.header-items > ul:first-of-type{
    grid-template-columns: max-content auto max-content;
    column-gap: 0.5rem;
}

@media (max-width: 1023px){
    .header-items{
        grid-template-columns: repeat(2, max-content);
    }
    .header-items > ul:first-of-type{
        display: none;
    }
    .header-items img{
        width: unset;
        height: 55px;
    }
}
.header-items > ul > div{
    border: 1px solid rgb(45, 45, 45);
    height: 30%;
    align-self: center;
    transition: height 1s;
}

.header-items > ul > div:first-of-type:hover  .header-items > ul > div{
    height: 50%;
}

.header-items ul a{
    color: black;
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: 500;
    transition: all .5s;
    position: relative;
    top: 0px;
}

.header-items ul a:hover{
    animation: verticalShake .5s ease-in-out;
    /* animation: rotateRight 1s linear; */
}

@keyframes verticalShake{
    0%{top: 0px; }
    50%{top: -5px;}
    /* 75%{top: 5px; left: 5px;} */
    100%{top: 0px;}
}

@keyframes rotateRight{
    0%{transform: rotate(0deg)}
    50%{transform: rotate(180deg)}
    100%{transform: rotate(360deg)}
}

.header-items > div:first-of-type{
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 3rem;
}


@media (max-width: 589px){
    .header-items > div:first-of-type{
        column-gap: 0.5rem;
    }
}

.shop-icon{
    width: 30px !important;
    display: inline-block;
}
.menu-bars{
    width: 30px;
    height: 25px;
    grid-template-rows: repeat(3, auto);
    align-items: space-between;
    padding:0.6rem 0.5rem;
}

.menu-bars:hover{
    cursor: pointer;
}

.menu-bars:hover > div{
    /* background-color: rgb(245, 245, 245); */
}

.menu-bars > div{
    height: 2px;
    /* background-color: white; */
    background-color: black;
    /* margin:0.3rem 0; */
}

@media (max-width: 425px){
    .menu-bars > div{
        height: 2px;
    }
}
.menu-bars > div:nth-of-type(2){
    width:75%;
}

.menu-bars > div:nth-of-type(3){
    width:50%;
}

.hamburger-menu{
    position: relative;
}
.hamburger-menu > div{
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    background-color: inherit;
    background-color: rgb(235, 235, 235);

    width: 0vw;
    overflow-x: hidden;
}
@media (max-width: 425px){
    .hamburger-menu > div{
        transition: width 0.5s !important;
    }
}

.hamburger-menu > div > ul{
    margin: 2rem auto;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    
    grid-template-columns: repeat(3, 33%);
    column-gap: 1rem;
    row-gap: 2rem;
    max-width: 60%;
    min-width: 600px;
    padding: 2rem 3rem;
}

@media (max-width: 425px){
    .hamburger-menu > div > ul{
        grid-template-columns: auto;
    }
}
.hamburger-menu > div a{
    color: black;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

